/vendor/
node_modules/
npm-debug.log
yarn-error.log
docker-compose.override.yml

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Public folders
/public/hot
/public/includes
/public/pro/docs
/public/storage
/public/vendor
/public/quasar/spa
public/.htaccess
/public/pdfjs
public/js.app.js

# local files
*.log
.DS_Store
._.DS_Store
.env
.env.backup
.env.testing
.php_cs.cache
.phpunit.result.cache
docker-compose.local.yml
Homestead.json
Homestead.yaml

# IDEs support
/.local
/.vscode
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/.idea
._.vscode

# lock files
package-lock.json