/* ***********************************************
CONTENT PANE STYLES
*********************************************** */
.content-pane {
  box-shadow: var(--color-shadow-small);
}

.content-pane hr {
  background-color: var(--v-primary-darken4) !important;
  opacity: 0.2;
}

.pane-light {
  border: 1px solid rgba(33, 38, 53, 0.4);
  background-color: rgba(121, 121, 121, 0.3);
}

.pane-dark {
  border: 1px solid rgba(144, 144, 144, 0.2);
  background-color: rgba(26, 29, 35, 0.5);
}
