// /* ***********************************************
// MOBILE/DESKTOP RESPONSE CODE
// *********************************************** */
// @media (max-width: 740px) {
//   .mobile {
//     display: block;
//   }

//   .desktop {
//     display: none;
//   }

//   #bkg {
//     background-image: none;
//   }
// }

// @media (min-width: 741px) {
//   .mobile {
//     display: none;
//   }
// }
// /* ***********************************************
// GENERAL STYLES
// *********************************************** */



// /* ***********************************************
// SPLASH STYLES
// *********************************************** */

/*3D logo*/

.logo-container {
  padding-top:calc(32vh - 130px);
  margin-left:-1%;
  transform:scale(.75);

  h4 {
    margin:0px,0px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
  }
}

.logo-container-mobile {
  transform:scale(.75);
  text-align: center;
  max-width:450px;
  margin-left: auto;
  margin-right:auto;
  margin-top:-100px;

  h4 {
    margin:0px,0px;
    text-align: center;
    // font-size: 15vw;
    text-transform: uppercase;
  }
}

.layer1 {
  pointer-events: none;
  transform: translateZ(0);
  background-color: var(--v-accent-base);
  // background-size: 100%;
  border-radius: 50px;
  width: 23em;
  height: 17em;
  margin: 30px auto 30px auto;
  transform-style: preserve-3d;
  display: flex;
  position: relative;

  &:after {
    content: " ";
    position: absolute;
    width: 25em;
    height: 17px;
    border-radius: 50%;
    left: 0;
    bottom: -50px;

  }
}

.layer2 {
  pointer-events: none;
  transform: translateZ(80px);
  background-image: url("/img/logo3.png");
  border-radius: 5px;
  width: 25em;
  height: 17em;
  margin: auto;
  transform-style: preserve-3d;
  display: flex;
  position: relative;

  &:after{
    content: " ";
    position: absolute;
    width: 25em;
    height: 17em;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
  }
}

.layer3 {
  pointer-events: none;
  transform: translateZ(80px);
  background-image: url("/img/logo2.png");
  border-radius: 5px;
  width: 25em;
  height: 17em;
  margin: auto;
  transform-style: preserve-3d;
  display: flex;
  position: relative;

  &:after{
    content: " ";
    position: absolute;
    width: 25em;
    height: 17em;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
  }
}

// /* ***********************************************
// PROJECT LISTING STYLES
// *********************************************** */

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* ***********************************************
PROJECT LISTING STYLES
*********************************************** */

// .background-projects {
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   overflow: hidden;
//   will-change: transform;
//   -webkit-backface-visibility: hidden;
//           backface-visibility: hidden;
//   height: 130vh;
//   position: fixed;
//   width: 100%;
//   -webkit-transform: translateY(30vh);
//           transform: translateY(30vh);
//   -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
//   transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);

//   &:nth-child(1) {
//   -webkit-transform: translateY(-15vh);
//           transform: translateY(-15vh);
//    z-index: 10;
//     .photo-wrapper-content {
//     -webkit-transform: translateY(15vh);
//             transform: translateY(15vh);
//   }
//   }

//   &:nth-child(2) {
//     z-index: 9;
//   }

//   &:nth-child(3) {
//     z-index: 8;
//   }

//   &:nth-child(4) {
//     z-index: 7;
//   }

//   &:nth-child(5) {
//     z-index: 6;
//   }

//   &:nth-child(6) {
//     z-index: 5;
//   }

//   &:nth-child(7) {
//     z-index: 4;
//   }

//   &:nth-child(8) {
//     z-index: 3;
//   }

//   &:nth-child(9) {
//     z-index: 2;
//   }

//   &:nth-child(10) {
//     z-index: 1;
//   }
// }

// .background-projects.up-scroll {
//   -webkit-transform: translate3d(0, -15vh, 0);
//           transform: translate3d(0, -15vh, 0);

//     .photo-wrapper-content {
//     -webkit-transform: translateY(15vh);
//             transform: translateY(15vh);
//     }
//   }

// .background-projects.up-scroll + .background-projects {
//     -webkit-transform: translate3d(0, 30vh, 0);
//             transform: translate3d(0, 30vh, 0);
//     .photo-wrapper-content {
//      -webkit-transform: translateY(30vh);
//              transform: translateY(30vh);
//     }
//   }

// .background-projects.down-scroll {
//   -webkit-transform: translate3d(0, -130vh, 0);
//           transform: translate3d(0, -130vh, 0);

//     .photo-wrapper-content {
//     -webkit-transform: translateY(40vh);
//             transform: translateY(40vh);
//     }
//   }

// .background-projects.down-scroll + .background-projects:not(.down-scroll) {
//   -webkit-transform: translate3d(0, -15vh, 0);
//           transform: translate3d(0, -15vh, 0);
//     .photo-wrapper-content {
//     -webkit-transform: translateY(15vh);
//             transform: translateY(15vh);
//     }
//   }

// .photo-wrapper-content {
//   height: 100vh;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//       -ms-flex-pack: center;
//           justify-content: center;
//   text-align: center;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//       -ms-flex-flow: column nowrap;
//           flex-flow: column nowrap;
//   color: #fff;
//   font-family: Montserrat;
//   text-transform: uppercase;
//   -webkit-transform: translateY(40vh);
//           transform: translateY(40vh);
//   will-change: transform;
//   -webkit-backface-visibility: hidden;
//           backface-visibility: hidden;
//   -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
//   transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
// }

// .card-mobile {
//   margin:8% 8%;
//   padding: 8% 8%;
//   text-align: center;

//   img {
//     max-width:90%;
//     margin-left:5%;
//     margin-right:5%;
//     margin-top:5%;
//     margin-bottom:8%;
//   }

//   .logo {
//     max-width:40%;
//     margin-left:20%;
//     margin-right:20%;
//   }

//   .bottom {
//     margin-bottom:100px;
//   }
// }

// /*CARD STYLES*/

// .photo-wrapper-cards {
//   width: 75%;
//   height: 100vh;
//   overflow: visible;
//   -webkit-transform: translateY(40vh);
//           transform: translateY(40vh);
//   will-change: transform;
//   -webkit-backface-visibility: hidden;
//           backface-visibility: hidden;
//   -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
//   transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);

//     .projects-card {
//     position: absolute;

//     padding: 15px 30px;
//     display: inline-block;
//     text-align: left;
//     margin-left: 2%;
//     margin-right: 2%;

//     .titles {
//       height:68%;
//     }

//     h4 {
//       // margin:60px 0 60px 0;
//       width: 250px;
//     }
//   }

//   #c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9, #c10 {
//     // background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
//     width: 500px;
//     height: 300px;
//     position: absolute;
//   }

//   #b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9, #b10 {
//     background-color: transparent;
//     width: 650px;
//     height: 397px;

//     img {
//         position: relative;
//         float:right;
//         left:-70px;
//         bottom:-325px;
//         z-index: 99;
//         width:245px;
//         opacity:1.0;
//         box-shadow: -11px 13px 82px -2px rgba(0,0,0,0.75);
//     }
//   }

//   #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10 {
//     width: 540px;
//     height: 389px;
//     background-color: transparent;

//     img {
//         position: relative;
//         float:right;
//         left:-30px;
//         bottom:137px;
//         z-index: 99;
//         height:55px;
//         opacity:1.0;
//     }
//   }

//   #icon {
//     width:10%;
//   }
// }

// .projects-list-entries {
//   color: white;
//   font-size: 2em;
//   transition: color 0.3s;
//   display: block;
//   box-sizing: border-box;
//   padding: 0px 5%;
//   transform-origin: 50% 50%;
//   font-family: 'Kanit', sans-serif;
//   font-weight: bold;
// }


/* ***********************************************
PROJECT DETAILS
*********************************************** */

// .project-expanded {
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
// }

// .project-card-expanded {
//   width:90%;
//   margin-left:5%;
//   margin-top:5%;
//   margin-bottom:5%;
//   padding:30px;
//   text-align: center;
//   align-content: center;
// }

// .project-paragraph-expanded {
//   margin: 30px 10%;
// }

// .project-titles-expanded {
//   height:auto;
// }

// .projects-list {
//   position: fixed;
//   text-align:right;
//   z-index: 98;
//   top: 50%;
//   right: 0;
//   list-style: none;
//   width: 450px;
//   text-decoration: none;
//   -webkit-transform: translateY(-50%);
//           transform: translateY(-50%);

//   li {
//    transition: background 0.3s ease, transform 0.3s ease;
//    color: white;
//    text-decoration: none;

//    &:hover {
//       transform: scale(1.5) translate(-15%) ;
//    }

//    a {
//      text-decoration: none;

//      &:hover {
//         color:#00ace6;
//      }

//      // &:active &:visited {
//      //    color:white;
//      // }

//      &:focus {
//         color:#0070bf;
//         transform: scale(1.2) translate(-7%) ;
//         outline: none;
//      }
//    }
//   }
// }

/*Photo Slider*/

// .photo-slider {
//   width: 560px;
//   max-width: 100%;
//   overflow: hidden;
//   margin: 0 auto;
// }
// .photo-slider-wrapper {
//   font-size: 0;
//   padding: 0;
// }
// .photo-slider-entry {
//   list-style: none;
//   font-size: 0;
//   display: inline-block;
//   width: 560px;
//   max-width: 100%;

//   img {
//     max-width: 100%;
//   }
// }

// .photo-slider-nav {
//   margin: 0 auto;
//   padding: 0;
//   display: block;
//   text-align: center;
// }

// .photo-slider-mobile {
//   width: 560px;
//   max-width: 100%;
//   overflow: hidden;
//   margin: 0 auto;

//   img {
//     max-width: 100%;
//     margin-bottom:35px;
//   }
// }
