// /* ***********************************************
// SPLASH STYLES
// *********************************************** */
/*3D logo*/
.logo-container {
  padding-top:calc(32vh - 130px);
  margin-left:-1%;
  transform:scale(.75);

  h4 {
    margin:0px,0px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
  }
}

.logo-container-mobile {
  transform:scale(.75);
  text-align: center;
  max-width:450px;
  margin-left: auto;
  margin-right:auto;
  margin-top:-100px;

  h4 {
    margin:0px,0px;
    text-align: center;
    // font-size: 15vw;
    text-transform: uppercase;
  }
}

.layer1 {
  pointer-events: none;
  transform: translateZ(0);
  background-color: var(--v-accent-base);
  // background-size: 100%;
  border-radius: 50px;
  width: 23em;
  height: 17em;
  margin: 30px auto 30px auto;
  transform-style: preserve-3d;
  display: flex;
  position: relative;

  &:after {
    content: " ";
    position: absolute;
    width: 25em;
    height: 17px;
    border-radius: 50%;
    left: 0;
    bottom: -50px;

  }
}

.layer2 {
  pointer-events: none;
  transform: translateZ(80px);
  background-image: url("/img/logo3.png");
  border-radius: 5px;
  width: 25em;
  height: 17em;
  margin: auto;
  transform-style: preserve-3d;
  display: flex;
  position: relative;

  &:after{
    content: " ";
    position: absolute;
    width: 25em;
    height: 17em;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
  }
}

.layer3 {
  pointer-events: none;
  transform: translateZ(80px);
  background-image: url("/img/logo2.png");
  border-radius: 5px;
  width: 25em;
  height: 17em;
  margin: auto;
  transform-style: preserve-3d;
  display: flex;
  position: relative;

  &:after{
    content: " ";
    position: absolute;
    width: 25em;
    height: 17em;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
  }
}

// /* ***********************************************
// PROJECT LISTING STYLES
// *********************************************** */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
