/* ***********************************************
COLOR STYLES
*********************************************** */
.primary-color-c {
  color: var(--v-primary-base) !important;
}

.primary-color-c-glow {
  text-shadow: 0 0 10px var(--v-primary-base), 0 0 21px var(--v-primary-base),
    0 0 42px var(--v-primary-base);
}

.primary-color-bg {
  background-color: var(--v-primary-base) !important;
}

.primary-color-bg-glow {
  box-shadow: 0 0 8px 0px var(--v-primary-base);
}

.secondary-color-c {
  color: var(--v-secondary-base) !important;
}

.secondary-color-c-glow {
  text-shadow: 0 0 10px var(--v-secondary-base),
    0 0 21px var(--v-secondary-base), 0 0 42px var(--v-secondary-base);
}

.secondary-color-bg {
  background-color: var(--v-secondary-base) !important;
}

.secondary-color-bg-glow {
  box-shadow: 0 0 8px 0px var(--v-secondary-base);
}

.accent-color-c {
  color: var(--v-accent-base) !important;
}

.accent-color-c-glow {
  text-shadow: 0 0 10px var(--v-accent-base), 0 0 21px var(--v-accent-base),
    0 0 42px var(--v-accent-base);
}

.accent-color-bg {
  background-color: var(--v-accent-base) !important;
}

.accent-color-bg-glow {
  box-shadow: 0 0 8px 0px var(--v-accent-base);
}

.background-color-c {
  color: var(--v-background-base) !important;
}

.background-color-bg {
  background-color: var(--v-background-base) !important;
}

.gradient-color-c {
  color: linear-gradient(
    to bottom right,
    var(--v-gradient1-base),
    var(--v-gradient2-base),
    var(--v-gradient3-base),
    var(--v-gradient4-base),
    var(--v-gradient5-base),
    var(--v-gradient6-base),
    var(--v-gradient7-base),
    var(--v-gradient8-base),
    var(--v-gradient9-base),
    var(--v-gradient10-base),
    var(--v-gradient11-base),
    var(--v-gradient12-base)
  ) !important;
}

.gradient-color-bg {
  background-image: radial-gradient(
    circle,
    var(--v-gradient1-base),
    var(--v-gradient2-base),
    var(--v-gradient3-base),
    var(--v-gradient4-base),
    var(--v-gradient5-base),
    var(--v-gradient6-base),
    var(--v-gradient7-base),
    var(--v-gradient8-base),
    var(--v-gradient9-base),
    var(--v-gradient10-base),
    var(--v-gradient11-base),
    var(--v-gradient12-base)
  ) !important;
}

/* This is possibly for future additions to background for projects */
// .theme-bg-nature {
//   background-image: url("https://img.freepik.com/free-vector/space-background-with-abstract-shape-stars_189033-30.jpg?w=2000") !important;
// }

// .theme-bg-royal {
//   background: linear-gradient(
//     to bottom right,
//     var(--v-gradient1-base),
//     var(--v-gradient2-base),
//     var(--v-gradient3-base)
//   ) !important;
// }

.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}
