/* ***********************************************
FONTS
*********************************************** */
@font-face {
  font-family: "Orbitron-Black";
  src: url("/fonts/Orbitron-Black.ttf");
}

@font-face {
  font-family: "Orbitron-Medium";
  src: url("/fonts/Orbitron-Medium.ttf");
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: url("/fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Savoye-LET";
  src: url("/fonts/Savoye-LET.ttc");
}

h1 {
  font-family: "Orbitron-Medium";
  font-size: 70px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-family: "Orbitron-Black";
  font-size: 90px;
  font-weight: 900;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: black;
  opacity: 0.8;
}

h3 {
  font-family: "Savoye-LET";
  font-size: 50px;
  font-weight: 500;
  color: black;
}

h4 {
  font-family: "NunitoSans-Regular";
  font-size: 40px;
  font-weight: bolder;
  color: black;
}

h5 {
  font-family: "NunitoSans-Regular";
  font-size: 28px;
  font-weight: lighter;
  color: black;
}

h6 {
  font-family: "NunitoSans-Regular";
  font-size: 12px;
  font-weight: light;
  color: white;
}

p {
  font-family: "NunitoSans-Regular";
  margin-bottom: 0px;
  font-size: 18px;
}

.halo-subhead {
  font-size: 28px !important;
}

@media (max-width: 950px) {
  h1 {
    font-size: 50px !important;
  }

  h2 {
    font-size: 60px !important;
  }

  h3 {
    font-size: 40px !important;
  }

  h4 {
    font-size: 28px !important;
  }

  h5 {
    font-size: 20px !important;
  }

  p {
    font-size: 16px !important;
  }

  .leather {
    color: white;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 30px !important;
  }

  h2 {
    font-size: 40px !important;
  }

  h3 {
    font-size: 30px !important;
  }

  h4 {
    font-size: 28px !important;
  }

  h5 {
    font-size: 18px !important;
  }

  p {
    font-size: 14px !important;
  }

  .halo-subhead {
    font-size: 20px !important;
  }

  .leather {
    color: white;
  }
}

/* ***********************************************
GENERAL
*********************************************** */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  margin-top: 80px;
}

input {
  margin-bottom: 15px;
  border-radius: 5px;
  height: 36px;
  text-decoration: none;
  margin-right: 5px;
  border: white solid 5px;
  padding-left: 10px;
}

input[type="text"]:focus {
  background-color: lightblue;
  border: lightblue solid 5px;
  outline: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-family: "Orbitron-Black";
  text-transform: uppercase;
  color: #ffffff;
}

.floatleft {
  float: left;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.aligncenter {
  text-align: center;
}

.logo {
  background-image: url("/img/avix/logo.png");
  width: 125px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.clickable {
  transition: all 0.2s ease-in-out;
}

.clickable:hover,
.clickable:focus {
  cursor: pointer;
  transform: scale(1.2);
}

.clickable:active {
  cursor: pointer;
  transform: scale(0.9);
}

.mobile-nav {
  display: none;
}

.height-auto {
  height: auto;
}

.quote-container {
  width: 100%;
  padding: 100px 5% 50px 5%;
}

.statement-container {
  width: 100%;
  padding: 50px 5% 50px 5%;
}

/* ***********************************************
BACKGROUNDS
*********************************************** */
@media (min-width: 951px) {
  .hero-overlay {
    width: 100%;
    height: 100%;
    background-image: url("/img/avix/airship.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .products-overlay {
    width: 100%;
    height: 100%;
    max-height: 650px;
    background-image: url("/img/avix/kyoto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -5;
  }

  .halo-overlay {
    width: 100%;
    background-image: url("/img/avix/halo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .cloud-overlay {
    width: 100%;
    background-image: url("/img/avix/clouds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media (max-width: 950px) {
  .hero-overlay {
    height: calc(100vh - 175px);
  }
}

/* ***********************************************
HEADER
*********************************************** */
header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #063d5d;
  z-index: 97;
  padding: 20px 5% 0 5%;
}

header ul {
  float: right;
  margin-top: 10px;
  padding: 0;
  width: calc(100% - 125px);
  text-align: right;
}

header li {
  display: inline-block;
  margin-left: 45px;
}

/* ***********************************************
FOOTER STYLES
*********************************************** */
footer {
  background-color: #063d5d;
  height: 120px;
  padding: 10px 10% 10px 10%;
}

/* ***********************************************
MOBILE MENU
*********************************************** */
.menu-toggle {
  display: block;
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 98;
  -webkit-user-select: none;
  user-select: none;
}

.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -15px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 99;
  -webkit-touch-callout: none;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 15px;
  position: relative;
  margin-top: -10px;
  background: white;
  border-radius: 3px;
  z-index: 98;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  box-shadow: 3px 3px 5px black;
}

.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
  box-shadow: none;
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  box-shadow: none;
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
  box-shadow: none;
}

.menu {
  position: absolute;
  width: 320px;
  margin: -100px 0 0 0;
  padding: 20px;
  padding-top: 125px;
  right: -100px;
  background-color: rgba(0, 9, 14, 0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

.menu-toggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

/* ***********************************************
CONTAINERS
*********************************************** */
@media (min-width: 951px) {
  .hero-container {
    height: calc(100vh - 60px);
    background-image: linear-gradient(
      180deg,
      rgba(0, 9, 14, 1),
      rgba(0, 0, 0, 0)
    );
  }

  .products-container {
    padding-top: 20px;
    background-image: linear-gradient(
      180deg,
      rgba(225, 186, 137, 0.3),
      rgba(225, 186, 137, 0.3),
      rgba(225, 186, 137, 0.4),
      rgba(225, 186, 137, 0.6)
    );
  }

  .halo-container {
    height: calc(100vh - 60px);
    background-image: linear-gradient(
      180deg,
      rgba(0, 9, 14, 1),
      rgba(0, 9, 14, 0.1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 9, 14, 0.1),
      rgba(0, 9, 14, 1)
    );
  }
}

@media (max-width: 950px) {
  .hero-container {
    height: 100%;
    width: auto;
    background-image: linear-gradient(
        180deg,
        rgba(0, 9, 14, 1),
        rgba(0, 0, 0, 0)
      ),
      url("/img/avix/airship.jpg");
    background-position: center;
  }

  .products-container {
    background-image: linear-gradient(
        180deg,
        rgba(225, 186, 137, 0.3),
        rgba(225, 186, 137, 0.3),
        rgba(225, 186, 137, 0.4),
        rgba(225, 186, 137, 0.6)
      ),
      url("/img/avix/kyoto.jpg");
    background-position: left;
  }

  .halo-container {
    background-image: linear-gradient(
        180deg,
        rgba(0, 9, 14, 1),
        rgba(0, 9, 14, 0.1),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 9, 14, 0.1),
        rgba(0, 9, 14, 1)
      ),
      url("/img/avix/halo.jpg");
    background-position: 75%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cloud-container {
    background-image: url("/img/avix/clouds.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* ***********************************************
CARDS
*********************************************** */
.item-card {
  min-height: 580px;
  padding: 30px;
  display: inline-block;
  text-align: center;
}

.item-card p {
  padding: 0 25px 0 25px;
}

.form-card {
  min-height: 100px;
  padding-left: 0 !important;
  display: inline-block;
  text-align: left;
}

.image-circle {
  border-radius: 50%;
  width: 80%;
  max-width: 225px;
  margin-bottom: 20px;
}

/* ***********************************************
FROSTED GLASS STYLES
*********************************************** */
@media (min-width: 951px) {
  .frosted-effect,
  .frosted-glass::before {
    background: url("/img/avix/kyoto_frost.jpg") 0 / cover fixed;
  }

  .frosted-glass {
    z-index: 1;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.3) inset,
      0 0.5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);
    padding-top: 35px;
    padding-bottom: 100px;
    text-align: center;
  }

  .frosted-glass::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -70px;
    z-index: -1;
    -webkit-filter: blur(15px);
    filter: blur(15px);
  }
}

@media (max-width: 950px) {
  .frosted-glass {
    height: calc(100vh - 10%);
    z-index: 4;
    position: relative;
    overflow: hidden;
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: url("/img/avix/leather.jpg") 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* ***********************************************
SIGN UP FORM
*********************************************** */
.signup-button {
  background-color: #063d5d;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "NunitoSans-Regular";
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.signup-button:hover,
.signup-button:focus {
  background-color: #0b6497;
}

/* ***********************************************
ANIMATIONS
*********************************************** */
.fade-in-nav {
  opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.fade-in-hero-1 {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.fade-in-hero-2 {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

/* ***********************************************
MOBILE/DESKTOP MEDIA QUERIES
*********************************************** */
/* @media (max-width: 950px) {
  .mobile-nav {
    display: block;
  }

  .desktop-nav {
    display: none;
  }
} */
