@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css);
@font-face {
  font-family: "Cerebri-Sans-Book";
  src: url("/public/fonts/Cerebri-Sans-Book.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("/public/fonts/Lato-Regular.ttf");
}
/*3D logo*/
.logo-container {
  padding-top: calc(32vh - 130px);
  margin-left: -1%;
  transform: scale(0.75);
}
.logo-container h4 {
  margin: 0px, 0px;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}

.logo-container-mobile {
  transform: scale(0.75);
  text-align: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}
.logo-container-mobile h4 {
  margin: 0px, 0px;
  text-align: center;
  text-transform: uppercase;
}

.layer1 {
  pointer-events: none;
  transform: translateZ(0);
  /* background-image: url("/img/logo1.png"); */
  border-radius: 50px;
  width: 23em;
  height: 17em;
  margin: 30px auto 30px auto;
  transform-style: preserve-3d;
  display: flex;
  position: relative;
}
.layer1:after {
  content: " ";
  position: absolute;
  width: 25em;
  height: 17px;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
}

.layer2 {
  pointer-events: none;
  transform: translateZ(80px);
  background-image: url("/img/logo3.png");
  border-radius: 5px;
  width: 25em;
  height: 17em;
  margin: auto;
  transform-style: preserve-3d;
  display: flex;
  position: relative;
}
.layer2:after {
  content: " ";
  position: absolute;
  width: 25em;
  height: 17em;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
}

.layer3 {
  pointer-events: none;
  transform: translateZ(80px);
  background-image: url("/img/logo2.png");
  border-radius: 5px;
  width: 25em;
  height: 17em;
  margin: auto;
  transform-style: preserve-3d;
  display: flex;
  position: relative;
}
.layer3:after {
  content: " ";
  position: absolute;
  width: 25em;
  height: 17em;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}
/* ***********************************************
PROJECT LISTING STYLES
*********************************************** */
/* ***********************************************
PROJECT DETAILS
*********************************************** */
/*Photo Slider*/

.primary-color-c {
  color: var(--v-primary-base) !important;
}
.primary-color-bg {
  background-color: var(--v-primary-base) !important;
}
.secondary-color-c {
  color: var(--v-secondary-base) !important;
}
.secondary-color-bg {
  background-color: var(--v-secondary-base) !important;
}
.accent-color-c {
  color: var(--v-accent-base) !important;
}
.accent-color-bg {
  background-color: var(--v-accent-base) !important;
}
.background-color-c {
  color: var(--v-background-base) !important;
}
.background-color-bg {
  background-color: var(--v-background-base) !important;
}
.gradient-color-c {
  color: linear-gradient(to bottom right, var(--v-gradient1-base), var(--v-gradient2-base), var(--v-gradient3-base)) !important;
}
.gradient-color-bg {
  background: linear-gradient(to bottom right, var(--v-gradient1-base), var(--v-gradient2-base), var(--v-gradient3-base)) !important;
}

::-webkit-scrollbar {
  display: none;
}